.main-container {
    @extend %align-center-column;
    width: 100vw;
    height: 70vh;
  }
  
  .login-container {
    background-color: $primary_3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 20px;
    width: 50%;
    // ...
  }
  