// sections/_thank-you.scss
@import '../common/variables';
@import '../common/centering';

.thank-you {
    max-width: 800px;
    margin: 0 auto;

    h2 {
        font-size: $base-font-size * 1.5;
        color: var(--primary-color);
    }

    p {
        line-height: 1.5;
    }
}
