// common/_centering.scss
.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
        max-width: 100%;
        height: auto;
    }
}

.product {
    @extend .center-align;

    a {
        text-decoration: none;

        h3 {
            color: #333;
        }
    }
}

.image-container {
    @extend .center-align;
    max-width: 100px; // Adjust the maximum width as needed
    margin-right: 20px; // Adjust the margin as needed
}
.image-container1 {
    @extend .center-align;
    max-width: 100px; // Adjust the maximum width as needed
    margin: left 20px; // Adjust the margin as needed
}