// _operators.scss
$base-font-size: 16px;

body {
    font-size: $base-font-size;
}

.btn {
    padding: $base-font-size * 1.5;
    margin-top: $base-font-size + 10px;
    border: 1px solid #ccc;
    background-color: #eee;
    color: #333;

    &:hover {
        background-color: #ddd;
    }
}
