//Custom properties
:root {
  --primary-1: #a2b9bc;
  --background: #2b42c5;
  --primary-2: #32baf5;
  --primary-3: #071b72;
  --bubble-color: rgba(255, 255, 255, 0.2);
}

$primary_1: var(--primary-1);
$background: var(--background);
$primary_2: var(--primary-2);
$primary_3: var(--primary-3);
$bubbleColor: var(--bubble-color);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Qwitcher+Grypen:wght@400;700&display=swap");

@import "layouts/navbar";
@import "layouts/subscribe";

@import "miscellaneous/functions";

@import "ui-features/hero";
@import "ui-features/container";
@import "ui-features/footer";
@import "ui-features/login";


//Placeholder selectors
%align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%align-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
%align-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background: $background;
}
